<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/styles.css">
		{% if env == 'dev' %}
			<script src="/js/dev-reloader.js"></script>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<div class="header-content">
				<nav>
					<span>
						<a href="/">george danforth</a>
					</span>
					<ul>
						<li><a href="/">home</a></li>
						<li><a href="/blog">blog</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="content-wrapper">
			<div class="container">
				<main>
					{{ content }}
				</main>
			</div>
		</div>
		<footer>
			<div class="footer-content">
				<span>&copy; 2025 George Danforth</span>
			</div>
		</footer>
	</body>
</html>
